<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.program1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ImageItem"></activity>
        <activity android:name=".AppTierModule">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondTierModule">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HalamanAwal" />
        <activity android:name=".view.HalamanMasuk" />
        <activity android:name=".view.HalamanDaftar" />
        <activity android:name=".view.admin.MemasukanMakanan"/>
        <activity android:name=".view.admin.HomeAdmin"/>
        <activity android:name=".view.admin.MemasukanMinuman"/>
        <activity android:name=".view.konsumen.HomeKonsumen"/>
        <activity android:name=".view.konsumen.MembeliMakanan"/>
        <activity android:name=".view.konsumen.MembeliMakanan2"/>
    </application>

</manifest>