<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.program1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".ImageItem"></activity>
        <activity android:name=".AppTierModule"/>
        <activity android:name=".SecondTierModule"/>
        <activity android:name=".Welcome"/>
        <activity android:name=".HalamanAwal" />
        <activity android:name=".view.HalamanMasuk">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.HalamanDaftar" />
        <activity android:name=".view.admin.HomeAdmin"/>
        <activity android:name=".view.admin.MemasukanMakanan"/>
        <activity android:name=".view.admin.MemasukanMinuman"/>
        <activity android:name=".view.admin.LihatMenuMakanan"/>
        <activity android:name=".view.admin.LihatMenuMinuman"/>
        <activity android:name=".view.admin.MemasukanOvoAdmin"/>
        <activity android:name=".view.admin.BayarPesanan"/>
        <activity android:name=".view.konsumen.HomeKonsumen"/>
        <activity android:name=".view.konsumen.MembeliMakanan"/>
        <activity android:name=".view.konsumen.MembeliMakanan2"/>
        <activity android:name=".view.konsumen.MembeliMinuman"/>
        <activity android:name=".view.konsumen.MembeliMinuman2"/>
        <activity android:name=".view.koki.HomeKoki"/>
    </application>

</manifest>